<ion-header>
  <ion-toolbar>
    <ion-title>Edit Run</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input type="text" maxlength="25" [(ngModel)]="run.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Duration (minutes)</ion-label>
    <ion-input type="number" min="1" step="0.5" [(ngModel)]="run.duration"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Distance (km)</ion-label>
    <ion-input type="number" min="0.5" step="0.25" [(ngModel)]="run.distance"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Rate your run</ion-label>
    <ion-select [(ngModel)]="run.rating">
      <ion-select-option value="good">😊 Good</ion-select-option>
      <ion-select-option value="normal">😐 Normal</ion-select-option>
      <ion-select-option value="bad">😞 Bad</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button expand="full" (click)="save()">Save</ion-button>
</ion-content>
