<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      login page
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div id="container">
    <form>
      <h1 class="heading">Login<br><br></h1>
      <ion-input label="Account Name" label-placement="floating" fill="outline" placeholder="Accountname"></ion-input>
      <ion-input label="Password" label-placement="floating" fill="outline" type="password" placeholder="*********"></ion-input>
      <ion-button expand="full" type="submit">Login</ion-button>
      <ion-button expand="full" type="button">Create Account</ion-button>
    </form>
  </div>
</ion-content>
