<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      login page
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div id="container">
    <form (ngSubmit)="onLogin()">
      <h1 class="heading">Login<br><br></h1>
      <ion-input [(ngModel)]="username" name="username" label="Account Name" label-placement="floating" fill="outline" placeholder="Accountname" required></ion-input>
      <ion-input [(ngModel)]="password" name="password" label="Password" label-placement="floating" fill="outline" type="password" placeholder="*********" required></ion-input>
      <ion-button expand="full" type="submit">Login</ion-button>
    </form>
  </div>
</ion-content>
