<ion-app>
  <ion-menu side="end" menuId="main-menu" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item [routerLink]="['tabs/menu/info']" (click)="closeMenu()">
          <ion-label>Info</ion-label>
        </ion-item>
      </ion-list>
      
      <ion-list class="ion-margin-top logout-container">
        <ion-item [routerLink]="['/login']" (click)="closeMenu()" class="logout-item">
          <ion-label color="danger" class="ion-text-center">Logout</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
