<ion-menu side="end" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menü</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/login">
        <ion-label>Seite 1</ion-label>
      </ion-item>
      <ion-item routerLink="/homescreen">
        <ion-label>Seite 2</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div id="main-content">
  <ion-content [fullscreen]="true">
    <app-tabs></app-tabs>
  </ion-content>
</div>
